# --- GLOBAL .NET SETTINGS ---
DOTNET_CONFIGURATION=
ASPNETCORE_ENVIRONMENT=
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
SEQ_URL=

# --- POSTGRES CREDENTIALS ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_CONNECTIONSTRING=

# --- SEQ ---
SEQ_DATA=
SEQ_FIRSTRUN_ADMINPASSWORD=
