.env
secrets.yaml
.github/kubernetes/develop/secret.yaml
.github/kubernetes/homolog/secret.yaml
.github/kubernetes/prod/secret.yaml
*.diff
.git

Pontuei.Api/obj
Pontuei.App/obj
*.Development.json

/Pontuei.Api/bin