.env
secrets.yaml
.github/kubernetes/develop/secret.yaml
.github/kubernetes/homolog/secret.yaml
.github/kubernetes/prod/secret.yaml
*.diff
.git

*/obj
*.Development.json

*/bin
*/.idea
*/.cursor

undefined
*.csproj.user